/*------------------------- MAIN ------------------------*/
/*.conteiner{
    
    padding: 0;
    background-color: white;
    margin-top: 0;
}*/
.tconteiner h1{
    margin-top: 10px;
    text-align: center;
    overflow-x: hidden;
    font-family:'EB Garamond', serif;  
    
}
.tcontenedor{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    
}
.tpar1{
    float: left;
    width: 30%;
    margin-top: 5%;
    margin-left: 5px;
    font-family:'Work Sans', sans-serif; 
    font-size: 0.8rem;
}
.tgaleria{
    float: right;
    width: 60%;
    height: 40%;
    margin-top: 30px;
    margin-right: 15px;
    overflow: hidden;
}
.tgaleria ul {
	display: flex;
    padding: 0;
	width: 700%; /*Son 7 fotos por el 100% de cada uno*/
	animation: slide 30s infinite alternate ease-in-out;
}

.tgaleria li {
	width: 40%;
	list-style: none; /* Para que no aparezcan los puntos de la lista*/
}

.tgaleria img {
	width: 100%; 
    height: 70%;
}
 /*damos el movimiento la duracion del mismo son 7 fotos el 100% del tiempo divido la cantidad de fotos
 y con margin left decimos que en cada mov. abarque toda la pantalla al desplazarse*/
@keyframes slide {
	0% {margin-left: 0;}
	10% {margin-left: 0;}
	
	15% {margin-left: -100%;}
	25% {margin-left: -100%;}
	
	30% {margin-left: -200%;}
	40% {margin-left: -200%;}
	
	45% {margin-left: -300%;}
	55% {margin-left: -300%;}

    60% {margin-left: -400%;}
	70% {margin-left: -400%;}

    75% {margin-left: -500%;}
	85% {margin-left: -500%;}
	
	90% {margin-left: -600%;}
	100% {margin-left: -600%;}
}

.tcontenedor2{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    
    margin-top: -6%;
    margin-right: 3%;
}

.tpar2{
    float: left;
    width: 50%;
    margin-top: 45px;
    margin-left: 5px;
    font-family:'Work Sans', sans-serif; 
    font-size: 1.5rem;
}

.tcontenedor > .tvideo2{
    float: right;
    width: 40%;
    height: 20%;
    margin-top: -130%;
    margin-right: -7%;
    padding: 3%;
    overflow: hidden;
}  
/*Boton de Mensaje*/
.tboton {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #363b43; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Work Sans', sans-serif;
    border-radius: 50px; 
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9); 
     overflow-x: hidden;   
    }
.tboton:hover{
    background-color: rgb(142, 142, 245);
    color: black;
}
/*Fin de boton de Mensaje*/